<h1>Events to attend:</h1>

<% current_user.attended_events.previous_events.each do |event| %>
  <p><%= event.title %></p>
<% end %>

<% current_user.attended_events.upcoming_events.each do |event| %>
  <p><%= event.title %></p>
<% end %>
