
<div class="container">
  <h1 class="text-info mx-3">Editing Event</h1>

  <%= render 'form', event: @event %>

  <%= link_to 'Show', @event, class: "btn btn-info mx-3 mt-2" %> |
  <%= link_to 'Back', events_path, class: "btn btn-info mx-3 mt-2" %>
</div>
