<h1 class="title">Showing upcoming events:</h1>

<% Event.upcoming_events.each do |event| %>
  <ul>
    <li class="event"><%= link_to event.title, event_path(event) %></li>
  </ul>
<% end %>

<h2>Previously attended events: </h2>

<% Event.previous_events.each do |event| %>
  <ul>
    <li class="event"><%= link_to event.title, event_path(event) %></li>
  </ul>
<% end %>




