<div class="container p-2 w-70">
  <h1 class="text-info mx-3">New Event</h1>

  <%= render 'form', event: @event %>

  <%= link_to 'Back', events_path, class: "btn btn-md btn-info mt-3 mx-3" %>

</div>
