<nav class="navbar">
  <ul class="user-info">
    <% if current_user %>
      <li><%= current_user.name %></li>
      <li><%= link_to "Sign Out", sign_out_path %></li>
    <% else %>
      <li><%= link_to "Sign Up", sign_up_path %></li>
      <li><%= link_to "Sign In", sign_in_path %></li>
    <% end %>
  </ul>
</nav>
